<nav class="navbar navbar-expand-md navbar-fixed-top navbar-light bg-light py-0 {{ page.menu-theme }}">
    <span class="navbar-brand py-2"><a href="/">GGP</a></span>
    <button onclick="" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
     aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <div class="burguer"><span></span><span></span><span></span></div>
    </button>
    <div class="container">
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="nav navbar-nav mx-auto links">
                <li class="nav-item  py-3"><a class="nav-link" href="/about">About</a></li>
                <li class="nav-item  py-3"><a class="nav-link" href="/work_experience">Work experience</a></li>
                <li class="nav-item  py-3"><a class="nav-link" href="/projects">Projects</a></li>
                <li class="nav-item  py-3"><a class="nav-link" href="/contact">Contact</a></li>
                <li class="nav-item  py-3"><a class="nav-link" href="/blog">Blog</a></li>
            </ul>
            <ul class="nav navbar-nav social">
                <li class="nav-item  pb-2"><a class="nav-link" href="https://www.linkedin.com/in/giovanni-garcía-pérez-150166a9"><span class="icon-linkedin-rect"></span></a></li>
                <li class="nav-item  pb-2"><a class="nav-link" href="mailto:gio.garciap@outlook.com"><span class="icon-mail"></span></a></li>
                <li class="nav-item  pb-2"><a class="nav-link" href="#"><span class="icon-twitter"></span></a></li>
            </ul>
        </div>
    </div>
</nav>