$color: #425ff4;
$break-md: 767.98px;
$break-lg: 1023.98px;
$break-sm: 575.98px;
$bg-color: #02325a !important;
$colorOverDark: #efefef;
$colorEmphasis: #0073b1;
$colorOverLight: #888;
.bg-dark{
    background-color: $bg-color;
}

header{
    &.small-header {
        h3{
            font-weight: 200;
        }
        img{
            max-height: 150px!important;
        }
        min-height: 250px;
        padding-top: 79px;
        @media screen and (min-width: $break-md  ) {
            min-height: 340px;
        }
        @media screen and (min-width: $break-lg ) {
        min-height: 400px;
        }
    }
  background-repeat: no-repeat;
  background-position: center;  
  min-height: 350px;
  position: relative;
  @media screen and (min-width: $break-md  ) {
    min-height: 500px;
  }
  @media screen and (min-width: $break-lg ) {
    min-height: 600px;
  }
  .background{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-size: auto;
    background-attachment: inherit;
    background-position: center;
    background-repeat: no-repeat;
  }
  h1, h2, span{
      font-weight: 400;
      color: #fff;
  }  
}
.work-experience{
    .card-header img {
        width: 50px!important;       
    }
    .title{
        font-size: 30px; 
        color: #0073b1;
    }
    .role{
        color: #565558;
        font-size: 20px;
        @media screen and (max-width: $break-md) {
            position: absolute;
            top: 75px;
        }
    }
    @media screen and (max-width: 375px) {
        .card-header img {
            width: 30px!important;       
        }
        .title{
            font-size: 22px;
        }
        .role{
            
            font-size: 13pt;
           
        }
    }
}

.posts{
    max-width: 345.6px;    
    .card{        
        .card-title{            
            a {
                color: $colorOverLight;
                @include transition(color 0.3s);
            }
        }
        .text-container{
            height: 150px;      
            overflow: hidden;
            position: relative;
        }
        
        .text-container:after{
            position: absolute;
            bottom: 0;  
            height: 100%;
            width: 100%;
            content: "";
            background: linear-gradient(to top,
                rgba(255,255,255, 1) 4%, 
                rgba(255,255,255, 0) 35%
            );
            pointer-events: none;
        }
        .card-img-right{
            width: 100%;
            img{
                width: 100%;
            }
        } 
    }    
    .card:hover{
        .card-title{            
            a {
                color: $colorEmphasis;
                text-decoration: none;
            }
        }
    } 
    @media screen and (min-width: $break-sm) {
        max-width: 700px; 
        .card{
            max-height: 300px; 
            overflow: hidden;
            .card-body{
                width: 60%;
                .text-container{
                    height: 125px;
                    overflow: hidden;
                    @media screen and (min-width: $break-md) {
                        height: 138px;
                    }       
                }
            }
            .card-img-right{
                width: 45%;
                img{
                    width: 100%;
                }
            }    
        }
    } 
}