$colorOverDark: #efefef;
$colorEmphasis: #0073b1;
$colorOverLight: rgba(0,0,0,.9);
.navbar.navbar-fixed-top {
    position: absolute;
    width: 100%;
    z-index: 1;
    background-color: transparent!important;
    
    li{
        a{
            font-weight: 100;
            text-transform: uppercase;
            color: $colorOverDark!important;
        }
        border-bottom: 2px solid transparent;
        @include transition(border-bottom-color 0.3S);
    }
    li:hover{
        border-bottom-color: $colorEmphasis;
    }
}
.active {
    opacity: 0;
    transform: translate(50px, 0px);
}
#home-profile{
    background-image: url('../images/digital-banner.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 500px;
    .me{        
        @include animateOnce((hmOpacity, hmTranslate), ease-in, 0.5s, 0s);
        font-size: 3.3rem;
        font-weight: 400;
        @media screen and (max-width: $break-md) {
            font-size: 2.5rem;
        }
    }
    .my-title{
        @include animateOnce(hmOpacity, ease-in, 0.5s, 0.7s);
        opacity: 0;
        font-weight: 300;
        font-size: 1.7rem;
        @media screen and (max-width: $break-md) {
            font-size: 1.5rem;
        }
    }
}
main{
    .btn{
        border-radius: 0%;
        &.btn-outline-primary:hover{
            background-color: $colorEmphasis;
        }
    }
    h2{
        font-weight: 300;
        font-size: 2.5rem;
    }
    color: $colorOverLight;
    .blog{
        .card{
            @include transition(opacity 0.5s);
            opacity: 1;
            .card-title{
                @include transition(color 0.5s);
            }
            .date {
                font-size: 10px;
            }
            hr{
                width: 25%;
                border: 2px solid $colorEmphasis;
            }
        }
        .card:hover{
            .card-title{
                color: $colorEmphasis;
            }
        }
        .card.fade:not(:hover){
            opacity: 0.5;
        }
        
    }
    .experience {
        & > div {
            position: relative;
            .card{
                height: 240px;
                max-width: 100%;
                width: calc(60vw - 10px);
                cursor: pointer;
                @include transition(opacity 0.5s);
                @include landscapeMobile{
                    height: 300px;                    
                    width: calc(50vw - 10px);
                }
                @include landscapeTablet{
                    width: 390px;
                }
            }
            .text-center, .btn{
                position: absolute;
                @include transition(opacity 0.5s, top 0.5s, bottom 0.5s);
                right: 0;
                left: 0;
                margin: 0 auto;
                opacity: 0;
            }
            .text-center {
                top: 0;
                width: 100%;                
            }
            .btn {
                bottom: 0;
                width: 170px;
            }
        }
        & > div:hover {
            .card {
                opacity: 0;
            }
            .text-center, .btn{
                opacity: 1;
            }
            .text-center {
                top: 20%;                
            }
            .btn {
                bottom: 25%;
            }
        }            
    }
}
@include keyframes(hmOpacity){
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    } 
}
@include keyframes(hmTranslate){
    0% {
        transform: translate(0px, -50px);
    }
    100% {
        transform: translate(0px, 0px);
    } 
}