.navbar.light-theme{
  .navbar-nav {
    .nav-link{
      color: $colorOverLight!important;
    }
  }
  .navbar-brand {
    a{
      color: $colorEmphasis!important;
      border: 2px solid $colorEmphasis!important;  
    }
    a:hover{
      color: #fff!important;
      border: inherit;  
    }    
  }
  li{
    a{
        color: $colorOverLight!important;  
    }
  }
  .navbar-toggler {
    .burguer {
      span {        
        background-color: $colorOverLight!important;
      }
    }
  }
}

.navbar.navbar-fixed-top {  
  position: absolute;
  width: 100%;
  z-index: 1;
  background-color: transparent!important;
  li{
    a{
        color: $colorOverDark!important;        
        text-transform: uppercase;        
        font-weight: 100;
    }
  }
  .navbar-brand a{
    color: #fff;
    border: 2px solid #fff;
    padding: 5px;
    font-weight: 300;
    width: 46px;
    height: 46px;
    display: inline-block;
    line-height: 32px;
    font-size: 18px;
    transform: rotate3d(0, 0, 0, 0deg) rotateZ(45deg);
    @include transition(border 0.3s, background-color 0.3s, color 0.3s, transform 0.3s);
    div {      
      transform: rotateZ(-45deg);
      font-weight: 600;
      span {
        position: absolute;
        &:nth-child(1) {     
          top: -17px;
          left: 9PX;
        }
        &:nth-child(2) {     
          top: -7px;
          left: -2px;
        }
        &:nth-child(3) {     
          top: 3px;
          left: -12px;
        }
      }      
    }
  }
  .navbar-brand:hover a{
      text-decoration: none;
      border: 2px solid $colorEmphasis;
      background-color: $bg-color;
      color: #fff;
      transform: rotate3d(-1, 0, 1,360deg) rotateZ(45deg);
  }
  .navbar-toggler {
    outline: none !important;
    box-shadow: none;
    border-width: 0px;
    .burguer {
      min-height: 17px;
      span {        
        width: 28px;
        height: 2.5px;
        display: block;
        background-color: #fff;
        margin: 5px;
        @include transition(
          margin 0.5s,
          transform 0.45s cubic-bezier(0.43, 0.77, 0.15, 1.5)
        );
      }
    }
  }
  .navbar-toggler:hover {
    span:nth-child(1) {
      transform: translate3d(0, -2px, 0);
    }
    span:nth-child(3) {
      transform: translate3d(0, 2px, 0);
    }
  }
  .navbar-toggler.st-1 {
    span:nth-child(1) {
      transform: translate3d(0, 7px, 0);
    }
    span:nth-child(2) {
      opacity: 0;
    }
    span:nth-child(3) {
      transform: translate3d(0, -7px, 0);
    }
  }
  .navbar-toggler.st-2 {
    span:nth-child(1) {
      transform: translate3d(0, 7px, 0) rotate(405deg) scale(1.5);
    }
    span:nth-child(3) {
      transform: translate3d(0, -7px, 0) rotate(495deg) scale(1.5);
    }
  }
  .container{    
    @media screen and (max-width: $break-md) {
      max-width: 610px;
    }
    .navbar-collapse {
      .links {
        li{
          a{
              @include transition(font-weight 0.3s);
              @media screen and (max-width: $break-md) {
                color: $colorOverLight!important;
              }
          }
          border-top: 2px solid transparent;
          @include transition(border-top-color 0.3S);
        }
        li:hover{
          a{
            font-weight: 600;
          }
          @media screen and (min-width: $break-md) {
            border-top-color: $colorEmphasis;
          }
        }
      }
      .social {
        a:hover span{
          color: $colorEmphasis;
        }
        span {
          font-size: large;
        }
      }

      @media screen and (max-width: $break-md) {
        position: absolute;
        display: block !important;
        color: #fff;
        top: -595px;
        left: 0px;
        right: 0px;
        z-index: 9999;
        background-color: #fff;
  
        @include transition(transform 0.7s cubic-bezier(0.43, 0.77, 0.15, 1.5));
        .nav-item {
          padding-left: 20px;
          @include transition(font-weight 0.3s, text-decoration 0.3s);
        }
        .nav-item:hover {
          font-weight: 600;
        }
      }

    }
  }

  .show-collapse {
    @media screen and (max-width: $break-md) {
      transform: translate3d(0, 672px, 0);
    }
  }
}
