.navbar.light-theme{
  .navbar-nav {
    .nav-link{
      color: #565558!important;
    }
  }
  .navbar-brand {
    a{
      color: $colorEmphasis!important;
      border: 2px solid $colorEmphasis!important;  
    }
    a:hover{
      color: #fff!important;
      border: inherit;  
    }
    
  }
}
.navbar {  
  background-color: #fff!important;
  .navbar-toggler {
    outline: none !important;
    box-shadow: none;
    border-width: 0px;
    .burguer {
      min-height: 17px;
      span {        
        width: 25px;
        height: 2px;
        display: block;
        background-color: gray;
        margin: 5px;
        @include transition(
          margin 0.5s,
          transform 0.45s cubic-bezier(0.43, 0.77, 0.15, 1.5)
        );
      }
    }
  }
  .navbar-toggler:hover {
    span:nth-child(1) {
      transform: translate3d(0, -2px, 0);
    }
    span:nth-child(3) {
      transform: translate3d(0, 2px, 0);
    }
  }
  .navbar-toggler.st-1 {
    span:nth-child(1) {
      transform: translate3d(0, 7px, 0);
    }
    span:nth-child(2) {
      opacity: 0;
    }
    span:nth-child(3) {
      transform: translate3d(0, -7px, 0);
    }
  }
  .navbar-toggler.st-2 {
    span:nth-child(1) {
      transform: translate3d(0, 7px, 0) rotate(405deg) scale(1.5);
    }
    span:nth-child(3) {
      transform: translate3d(0, -7px, 0) rotate(495deg) scale(1.5);
    }
  }
  .container{    
    @media screen and (max-width: $break-md) {
      max-width: 560px;
    }
    .navbar-collapse {
      @media screen and (max-width: $break-md) {
        position: absolute;
        display: block !important;
        
        top: -600px;
        left: 0px;
        right: 0px;
        z-index: 9999;
        background-color: #fff;
  
        @include transition(transform 0.7s cubic-bezier(0.43, 0.77, 0.15, 1.5));
        .nav-item {
          padding-left: 20px;
          @include transition(font-weight 0.3s, text-decoration 0.3s);
        }
        .nav-item:hover {
          font-weight: 600;
          text-decoration: underline;
        }
      }
    }
  }

  .show-collapse {
    @media screen and (max-width: $break-md) {
      transform: translate3d(0, 672px, 0);
    }
  }
}
