
.icon-mail:before { content: '\e800'; } /* '' */
.icon-search:before { content: '\e801'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */
.icon-facebook-rect:before { content: '\f301'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-linkedin-rect:before { content: '\f31b'; } /* '' */