<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="shortcut icon" href="favicon.ico" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<link rel="manifest" href="/manifest.json" />
	<link rel="stylesheet" href="/assets/css/main.css" />
	<title>{{ page.title }}</title>
</head>

<body>
	{% include menu.html %}
	<header id="home-profile" class="position-relative overflow-hidden d-flex text-center bg-dark text-white">
		<div class="col-md-7 p-lg-5 mx-auto my-auto">
			<h1 class="pt-5 me active">Hola me llamo Giovanni.</h1>
			<p class="my-title">Soy Desarrollador de Aplicaciones y Sitios Web</p>

			<a class="btn btn-outline-secondary about-me" href="#">Sobre mi</a>
		</div>
		<div class="product-device shadow-sm d-none d-md-block"></div>
		<div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
	</header>

	<main id="home">
		<div class="col-md-10 p-5 my-3 mx-auto about">
			<p class="lead font-weight-normal py-md-5">
				And an even wittier subheading to boot. Jumpstart your marketing
				efforts with this example based on Apple’s marketing pages.
			</p>
		</div>
		<div>
			<div class="container py-5">
				<div class="row">
					<div class="col">
						<h2 class="text-center">Experiencia</h2>
					</div>
				</div>
			</div>
			<div class="d-flex justify-content-center flex-row  flex-wrap experience pb-5">
				{% assign ordered_experience = site.work_experience | sort:"order" | reverse  %}
				{% for experience in ordered_experience %}
				<div class="card-container">
					<div class="card" style="background-image: url('{{experience.image-title}}')"></div>
					<div class="text-center">
						{{experience.title}}
					</div>
					<a href="{{experience.url}}" class="btn btn-outline-primary ">Ver Mas</a>
				</div>
				{% endfor %}
			</div>
		</div>

		<div class="bg-dark  py-5 mb-3 services">
			<div class="container">
				<div class="row">
					<div class="col">
						<h2 class="text-center">Servicios</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="container blog py-5">
			<div class="row">
				<div class="col-sm-12">
					<h2 class="text-center">Blog</h2>
					<p>
						And an even wittier subheading to boot. Jumpstart your marketing
					</p>
				</div>
				{% for post in site.posts %}
				<div class="col-sm-6 col-lg-3">
					<div class="card mb-3 border-0">
						<img src="{{post.image-preview}}" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">{{post.title}}</h5>
							<div class="date">{{post.date}}</div>
							<hr class="ml-0" />
							<p class="card-text">
								{{post.summary}}
							</p>
							<a href="{{post.url}}" class="btn btn-outline-primary">Go somewhere</a>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</main>
	{% include footer.html %}
</body>
<script src="/assets/scripts/index.js"></script>
</html>